a:active {
    color: #000000;
    text-decoration: none;
}
a:visited {
    color: #008080;
    text-decoration: none;
}
a:link {
    color: #008080;
    text-decoration: none;
}
a:hover {
    color: #2D3856;
    text-decoration: none;
}

p {
    font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000001;
    text-align: left;
    padding-top: 1px;
    padding-bottom: 0px;
}

ul {
    font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000001;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 1px;
}

ol {
    font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000001;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 1px;
}

h1 {
    font-family: Impact, Verdana, Conga, Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: #000000;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: center;
}

h2 {
    font-family: Impact, Verdana, Conga, Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #000000;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: center;
}

h3 {
    font-family: Impact, Verdana, Conga, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 2px;
    text-align: center;
}

h4 {
    font-family: Verdana, Palatino, Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: center;
}

h5 {
    font-family: Verdana, Palatino, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: center;
}

h6 {
    font-family: Verdana, Palatino, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

.sinactive {
    font-family: Verdana, Conga, Palatino, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
}
a.sinactive {
    font-family: Verdana, Conga, Palatino, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
}
a.sinactive:hover {
    color: #FFFFC0;
}
a.sinactive:active {
    color: #000000;
}

.sactive {
    font-family: Verdana, Conga, Palatino, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #008080;
    font-weight: bold;
}
a.sactive {
    font-family: Verdana, Conga, Palatino, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #008080;
    font-weight: bold;
}
a.sactive:hover {
    color: #2D3856;
}
a.sactive:active {
    color: #000000;
}

.tactive {
    font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #008080;
    font-weight: normal;
    margin-bottom: 2px;
    margin-top: 1px;
}
a.tactive {
    font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #008080;
    font-weight: normal;
    margin-bottom: 2px;
    margin-top: 1px;
}
a.tactive:hover {
    color: #2D3856;
}
a.tactive:active {
    color: #000000;
}

.tcurrent {
    font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #2D3856;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 1px;
}
a.tcurrent {
    font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #2D3856;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 1px;
}
a.tcurrent:hover {
    color: #008080;
}
a.tcurrent:active {
    color: #000000;
}

.navtop {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 1px;
    text-align: right;
}
a.navtop {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 1px;
    text-align: right;
}
a.navtop:hover {
    color: #FFFFC0;
}
a.navtop:active {
    color: #000000;
}
.navtoppipe {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 1px;
    text-align: right;
}

.navbot {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 1px;
}
a.navbot {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 1px;
}
a.navbot:hover {
    color: #FFFFC0;
}
a.navbot:active {
    color: #000000;
}
.navbotpipe {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 1px;
}

.hottop {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0px;
    text-align: center;
}
a.hottop {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0px;
    text-align: center;
}
a.hottop:hover {
    color: #FFFFC0;
}
a.hottop:active {
    color: #000000;
}

.hottext {
    font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 0px;
    text-align: left;
}
a.hottext {
    font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 0px;
    text-align: left;
}
a.hottext:hover {
    color: #FFFFC0;
}
a.hottext:active {
    color: #000000;
}


.adHeadline {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 5px;
    margin-top: 0px;
    text-align: left;
}
a.adHeadline {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 5px;
    margin-top: 0px;
    text-align: left;
}
a.adHeadline:hover {
    color: #FFFFC0;
}
a.adHeadline:active {
    color: #000000;
}

.adText {
    font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    text-indent: 0px ;
}
a.adText {
    font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    text-indent: 0px ;
}
a.adText:hover {
    color: #FFFFC0;
}
a.adText:active {
    color: #000000;
}

.disclaim {
    font-family: Verdana, Lucida, Arial, Helvetica;
    font-size: 10px;
    color: #000001;
    padding-top: 1px;
    padding-bottom: 0px;
}
.copyright {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal ;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
.bannertext {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
.linkauthor {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: normal;
    text-align: right;
    color: #2D3856;
}
.linktitle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: left;
    margin-top: 1px;
    color: #008080;
}
a.linktitle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: left;
    margin-top: 1px;
    color: #008080;
}
a.linktitle:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: left;
    margin-top: 1px;
    color: #000000;
}
.linkdesc {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
.counter {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal ;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
.loginprompt {
    font-family: Verdana, Conga, Palatino, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #008080;
    font-weight: bold;
    text-align: right;
}
.loginform {
    font-family: Verdana, Conga, Palatino, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #2D3856;
    font-weight: normal;
    text-align: left;
}
.nav {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
