/**
* vBulletin 3.7.2 CSS
* Style: 'Default Style'; Style ID: 1
*/
body
{
	background: #E8EFF4;
	color: #000000;
	font: 2 Verdana, Lucida, Arial, Helvetica, sans-serif;
	margin: 5px 10px 10px 10px;
	padding: 0px;
	background: url(../images/bbs/back_main.jpg);
}
a:link, body_alink
{
	color: #008080;
}
a:visited, body_avisited
{
	color: #008080;
}
a:hover, a:active, body_ahover
{
	color: #000000;
}
.page
{
	background: #FFFFFF;
	color: #000000;
}
td, th, p, li
{
	font: 12px Verdana, Lucida, Arial, Helvetica, sans-serif;
}
.tborder
{
	background: #E8EFF4;
	border: 1px solid #FFFFFF;
}
.tcat
{
	background: #008080;
	color: #FFFFFF;
	font: bold 10px Verdana, Lucida, Arial, Helvetica, sans-serif;
}
.tcat a:link, .tcat_alink
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #FFFF66;
	text-decoration: underline;
}
.thead
{
	background: #008080;
	color: #FFFFFF;
	font: bold 11px Verdana, Lucida, Arial, Helvetica, sans-serif;
}
.thead a:link, .thead_alink
{
	color: #FFFFFF;
}
.thead a:visited, .thead_avisited
{
	color: #FFFFFF;
}
.thead a:hover, .thead a:active, .thead_ahover
{
	color: #FFFF00;
}
.tfoot
{
	background: #008080;
	color: #E0E0F6;
	font-size: 10px;
}
.tfoot a:link, .tfoot_alink
{
	color: #E0E0F6;
}
.tfoot a:visited, .tfoot_avisited
{
	color: #E0E0F6;
}
.tfoot a:hover, .tfoot a:active, .tfoot_ahover
{
	color: #FFFF66;
}
.alt1, .alt1Active
{
	background: #D5DEE5;
	color: #000000;
	font-size: 12px;
}
.alt2, .alt2Active
{
	background: #E8EFF4;
	color: #000000;
	font-size: 12px;
}
.inlinemod
{
	background: #FFFFCC;
	color: #000000;
}
.wysiwyg
{
	background: #F5F5FF;
	color: #000000;
	font: 12px Verdana, Lucida, Arial, Helvetica, sans-serif;
}
textarea, .bginput
{
	font: 12px Verdana, Lucida, Arial, Helvetica, sans-serif;
}
.bginput option, .bginput optgroup
{
	font-size: 12px;
	font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
}
.button
{
	font: 11px Verdana, Lucida, Arial, Helvetica, sans-serif;
}
select
{
	font: 12px Verdana, Lucida, Arial, Helvetica, sans-serif;
}
option, optgroup
{
	font-size: 12px;
	font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
}
.smallfont
{
	font: 10px Verdana, Lucida, Arial, Helvetica, sans-serif;
}
.time
{
	color: #666686;
}
.navbar
{
	font: 12px Verdana, Lucida, Arial, Helvetica, sans-serif;
}
.highlight
{
	color: #FF0000;
	font-weight: bold;
}
.fjsel
{
	background: #008080;
	color: #E0E0F6;
}
.fjdpth0
{
	background: #F7F7F7;
	color: #000000;
}
.panel
{
	background: #E8EFF4;
	color: #000000;
	padding: 10px;
	border: 2px outset;
}
.panelsurround
{
	background: #D5DEE5;
	color: #000000;
}
legend
{
	color: #008080;
	font: 11px Verdana, Lucida, Arial, Helvetica, sans-serif;
}
.vbmenu_control
{
	background: #D5DEE5;
	color: #008080;
	font: bold 12px Verdana, Lucida, Arial, Helvetica, sans-serif;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}
.vbmenu_control a:link, .vbmenu_control_alink
{
	color: #008080;
	text-decoration: none;
}
.vbmenu_control a:visited, .vbmenu_control_avisited
{
	color: #008080;
	text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover
{
	color: #000000;
	text-decoration: underline;
}
.vbmenu_popup
{
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #0B198C;
}
.vbmenu_option
{
	background: #BBC7CE;
	color: #000000;
	font: 12px Verdana, Lucida, Arial, Helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link, .vbmenu_option_alink
{
	color: #22229C;
	text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option_avisited
{
	color: #22229C;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite
{
	background: #8A949E;
	color: #FFFFFF;
	font: 12px Verdana, Lucida, Arial, Helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_hilite a:link, .vbmenu_hilite_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
/* ***** styling for 'big' usernames on postbit etc. ***** */
.bigusername { font-size: 12pt; }

/* ***** small padding on 'thead' elements ***** */
td.thead, div.thead { padding: 4px; }

/* ***** basic styles for multi-page nav elements */
.pagenav a { text-decoration: none; }
.pagenav td { padding: 2px 4px 2px 4px; }

/* ***** define margin and font-size for elements inside panels ***** */
.fieldset { margin-bottom: 6px; }
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 11px; }

/* ***** don't change the following ***** */
form { display: inline; }
label { cursor: default; }
.normal { font-weight: normal; }
.inlineimg { vertical-align: middle; }